    <!--
    <h2>Sala de chat</h2>

    <div class="d-flex flex-column chat-container">

        <div class="container">
            <b>Fran</b>
            <img src="" alt="Avatar" style="width:100%;">
            <p>Hello. How are you today?</p>
            <span class="time-right">11:00</span>
        </div>

        
        <div class="fixed-bottom chat-input-container" (ngSubmit)="enviarMensaje()">
          <input
            type="text"
            placeholder="Escribe tu mensaje..."
            [(ngModel)]="mensaje"
            (keyup.enter)="enviarMensaje()"
            class="flex-grow-1 mr-2"
          />
          <button (click)="enviarMensaje()" class="btn btn-primary">Enviar</button>
        </div>
        

        <form class="fixed-bottom chat-input-container" (ngSubmit)="enviarMensaje()">
            <input
              type="text"
              class="form-control"
              placeholder="Escribe tu mensaje..."
              [(ngModel)]="mensaje"
              (keyup.enter)="enviarMensaje()"
              class="flex-grow-1 mr-2"
            />
            <button (click)="enviarMensaje()" class="btn btn-primary">Enviar</button>
          </form>

      </div>
      -->
    <div class="card chat-container" *ngIf="usuarioLogeado">
        <div class="card-header">
            Sala de chat
        </div>

        <div class="card-body">
            <div id="mensajes-container" class="mensajes-container">
                <div *ngFor="let mensaje of mensajes" class="msj p-2 m-2"
                    [ngClass]="usuarioLogeado.uid==mensaje.id ? 'msj-enviado' : 'msj-recibido'">
                    <b>{{mensaje.user}}:</b>
                    <p>
                        {{mensaje.texto}}
                    </p>
                    <i class="msj-fecha">
                        {{mensaje.fecha}}
                    </i>
                </div>
            </div>
        </div>

        <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
            <input type="text" class="form-control" placeholder="Enviar mensaje..." [(ngModel)]="mensaje"
                [ngModelOptions]="{standalone: true}">
            <div class="input-group-append" (click)="enviarMensaje()">
                <span class="input-group-text" id="basic-addon2">
                    <img class="input-img-enviar" src="../../../assets/chat/enviar.png" width="25px">
                </span>
            </div>
        </form>
    </div>