@font-face {
    font-family: 'pixeloidSans';
    src: url('../../../assets/fonts/PixeloidSans.ttf') format('truetype')
}

.chat-container {
    position: fixed;
    left: 0.5rem;
    bottom: 0.5rem;
    width: 500px;
    height: 80vh;
    border-radius: 2px;
}

.chat-oculto-header{
    font-family: 'pixeloidSans', sans-serif;
    font-size: 18px;
    position: fixed;
    padding-left: 15px;
    left: 0.5rem;
    bottom: 0.5rem;
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(60, 0, 138), rgb(83, 0, 190));
    color: white;
    border-radius: 2px;
    border: 1px solid #fda403;
}

.card-header {
    font-family: 'pixeloidSans', sans-serif;
    font-size: 18px;
    background: linear-gradient(to bottom, rgb(60, 0, 138), rgb(83, 0, 190));
    color: white;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #fda403;
}

.card-body {
    padding: 0.5rem;
    background-image: url('../../../assets/chat/fondo.avif');
    position: relative;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
}

.form-control{
    font-family: 'pixeloidSans', sans-serif;
    font-size: 12px;
    background-color: rgb(255, 255, 240);
    margin-right: 5px;
    color: rgb(0, 0, 0);
}

::placeholder{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-left: 12px;
}

.card-footer{
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.chat-icono-header-container{
    background-color: white;
}

.chat-icono-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    color: wheat;
}

.chat-btn-header{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.chat-btn-header-ocultar{
    transform: rotate(90deg);
}

.input-group-text{
    background-color: rgb(244, 255, 233);
    border-width: 1px;
    border-color: black;
}

.input-img-enviar{
    width: 40px;
}

.input-img-enviar:active {
    transform: scale(0.8);
}

.msj-enviado {
    display: block;
    float: right;
    background: linear-gradient(to bottom, #c200c9, #86008b);
    font-family: 'pixeloidSans', sans-serif;
    color: white;
    min-width: 50.01%;
    border-radius: 4px;
    text-align: left;
    border: 1px solid blanchedalmond;
}

.msj-recibido {
    display: block;
    float: left;
    background: linear-gradient(to bottom, #0046c9, #00318b);
    font-family: 'pixeloidSans', sans-serif;
    color: white;
    min-width: 50.01%;
    border-radius: 4px;
    text-align: left;
    border: 1px solid blanchedalmond;
}

.msj-fecha {
    font-size: smaller;
    color: rgb(216, 255, 190);
    float: right;
}

.msj-triangulo{
    position: relative;
    width: 0; 
    height: 0;
    bottom: -28px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
}

.msj-triangulo-enviado{
    float: right;
    left: 145px;
}

.msj-triangulo-recibido{
    float: left;
}

.form-control{
    font-size: 18px;
    border-radius: 25px;
}

#mensajes-container {
    overflow: scroll;
    padding: 0.3rem;
    height: 95%;
    overflow-y: auto;
}

#mensajes-container::-webkit-scrollbar {
    width: 10px;
}

#mensajes-container::-webkit-scrollbar-track {
    display: none;
}

#mensajes-container::-webkit-scrollbar-corner{
    display: none;
}

#mensajes-container::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(255, 238, 0), rgb(255, 238, 86));
    border-radius: 5px;
}

#mensajes-container::-webkit-scrollbar-thumb:hover {
    background: #da6200;
}