@font-face {
  font-family: 'rainyhearts';
  src: url('../../../assets/fonts/rainyhearts.ttf') format('truetype')
}

.contenedor {
  margin: 0;
  background-image: url('../../../assets/home/bienvenido-background.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.welcome-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  animation: fadeIn 4s;
}

.welcome-buttons-container {
  position: absolute;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -70%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

h1 {
  font-family: 'rainyhearts', sans-serif;
  font-size: 4rem;
  margin: 0;
  text-transform: uppercase;
}

p {
  font-family: 'rainyhearts', sans-serif;
  font-size: 2rem;
  margin: 0;
  margin-top: 1rem;
  color: rgb(210, 97, 255);
}

span{
  color: rgb(255, 243, 174);
}