@font-face {
    font-family: 'learners';
    src: url('../../../../assets/fonts/Learners.ttf') format('truetype')
}

#game-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    height: 100vh;
}

.amarillo {
    background-color: yellow;
}

.rojo {
    background-color: rgb(255, 58, 58);
}

.verde {
    background-color: rgb(44, 255, 44);
}

.azul {
    background-color: rgb(91, 91, 255);
}

.entrada {
    background-color: gray;
}

.llegada {
    background-color: gray;
}

.casilla {
    border: 2px solid black;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    margin-left: 5px;
    margin-top: 20px;
    text-align: center;
}

.jugador {
    position: relative;
    right: 4px;
    top: -35px;
    width: 40px;
}

.bandera{
    position: relative;
    width: 80px;
}

.card-header{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 2rem;
    background-color: rgb(32, 0, 90);
}

.card-body{
    background-color: rgb(116, 41, 255);
}

.btn-opcion{
    background-color: rgb(255, 233, 254);
    border-color: rgb(222, 88, 255);
    color: black;
    font-size: larger;
    font-weight: bold;
}

.btn-dado{
    border-radius: 15%;
    height: 140px;
    width: 140px;
    font-family: 'learners';
    font-size: 24px;
    border: 2px solid black;
    box-shadow: 5px 5px 8px #2c2c2c;
}

.btn-dado:active{
    transform: translate(0em, 0.15em);
    box-shadow: none;
}

#contador-vidas{
    font-family: 'learners';
    font-size: 32px;
}

.avisos{
    padding: 2rem;
    font-size: larger;
}