@font-face {
    font-family: 'bakery';
    src: url('../../../../assets/fonts/Bakery.ttf') format('truetype')
}

@font-face {
    font-family: 'learners';
    src: url('../../../../assets/fonts/Learners.ttf') format('truetype')
}

h1 {
    font-family: 'bakery', sans-serif;
    font-size: 42;
    color: #333;
}

#game-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.button-container {
    margin-top: 40px;
}

.intentosRacha {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
}

.letra-adivinanza{
    font-family: 'learners', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.letra-adivinanza-placeholder{
    font-family: 'learners', sans-serif;
    font-size: 36px;
}

#teclado{
    justify-content: center;
    align-items: center;
    width: 45%;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
  }

#teclado button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px 5px;
    cursor: pointer;
    background-color: #5baaff;
    color: #000000;
    border: none;
    border-radius: 12px;
    font-family: 'learners', sans-serif;
    text-transform: uppercase;
}

#btn-pista{
    padding: 10px 10px;
    font-size: 24px;
    margin: 5px 5px;
    cursor: pointer;
    background-color: #d2e28c;
    color: #000000;
    border: none;
    border-radius: 12px;
    font-family: 'learners', sans-serif;
    text-transform: uppercase;
}

.start-button-container {
    text-align: center;
    margin-top: 50px;
  }
  
.start-button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #0056b3;
}