<app-navbar></app-navbar>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="about-section">
                <h2 class="section-title">Acerca de mí</h2>
                <img class="about-img" [src]="yo" width="200" height="250">
                <h3 class="section-subtitle my-4">Junior en programador y senior en recursante.</h3>
                <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit
                    aliquet elit, eget tincidunt nunc pharetra ut. Maecenas faucibus interdum purus, vel viverra
                    nisi euismod ut. Proin laoreet bibendum eros, non sodales nulla hendrerit a.</p>
            </div>
        </div>
    </div>
</section>