<app-navbar></app-navbar>
<body>
    <div class="card-container">
        <span class="pro">¿PRO?</span>
        <img class="round" src="../../../assets/acercade/yo.jpg" alt="user" />
        <h3>Franco Sampietro</h3>
        <h6>San Nicolás</h6>
        <p>Junior en programación <br/> Aspirante a aprobar LABO</p>
        <div class="buttons">
            <button class="primary">
                MENSAJITO
            </button>
            <button class="primary ghost">
                SEGUIR
            </button>
        </div>
        <div class="skills">
            <h6>Skills</h6>
            <ul>
                <li>Angular</li>
                <li>Recursar</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Typescript</li>
                <li>.NET</li>
                <li>Tipazo</li>
            </ul>
        </div>
    </div>
</body>
