<div class="contenedor">
    <div class="card-container">
        <span class="pro">¿PRO?</span>
        <img class="round" src="../../../assets/acercade/yo.jpg" alt="user" />
        <h3>Franco Sampietro</h3>
        <h6>San Nicolás</h6>
        <p>Junior en programación <br/> Aspirante a aprobar LABO</p>
        <div class="buttons">
            <button class="primary">
                MENSAJE
            </button>
            <button class="primary ghost">
                SEGUIR
            </button>
        </div>
        <div class="skills">
            <h6>Skills</h6>
            <ul>
                <li>Angular</li>
                <li>Recursar</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Typescript</li>
                <li>.NET</li>
                <li>Tipazo</li>
            </ul>
        </div>
        <div class="my-4">
            <h6 class="my-4">Sobre el carrera de mente</h6>
            <p>
                ¡El <b>jugador</b> deberá atravesar un <b>tablero</b> y llegar a la <b>meta</b>!<br><br>
                Para lograrlo, deberás girar un <b>dado</b> y contestar una <b>pregunta</b> de una <b>categoría</b> en específico...<br><br>
                Este juego cuenta con modificadores de <b>dificultad</b>:<br><br>
                Estas ajustarán la cantidad de <b>puntos ganados por pregunta acertada</b>, las <b>vidas</b> al empezar la partida, ¡y la <b>longitud</b> del tablero!<br><br>
                ¡Buena suerte! 🤩
            </p>
        </div>
    </div>
</div>