.score-table {
    position: fixed;
    top:15%;
    right: 0.5rem;
    width: 20%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.score-table th,
.score-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.score-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.score-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.score-table tbody tr:hover {
    background-color: #ddd;
}