<div class="tabla-container">
    <button class="btn btn-light btn-toggle-ranking" (click)="toggleRanking()">RANKING de Jugadores</button>
    <table *ngIf="mostrarRanking" class="score-table">
        <thead>
            <tr>
                <th>
                    <img src="../../../../assets/juegos/estrella.png" style="width: 20px;">
                </th>
                <th>Jugador</th>
                <th>Puntaje</th>
                <th>Fecha de inicio</th>
            </tr>
        </thead>
        <tbody *ngFor="let puntaje of listaPuntajes; let i = index">
            <tr [style.background-color]="puntaje.user==usuarioLogeado ? '#F9FF9F' : 'FFFFFF'"
                [style.font-weight]="puntaje.user==usuarioLogeado ? 'bold' : 'normal'">
                <td>{{i+1}}</td>
                <td>{{puntaje.user}}</td>
                <td>{{puntaje.puntaje}}</td>
                <td>{{puntaje.fecha}}</td>
            </tr>
        </tbody>
    </table>
</div>