<table class="score-table">
    <thead>
        <tr>
            <th>Nombre del Jugador</th>
            <th>Puntaje</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody *ngFor="let puntaje of listaPuntajes">
        <tr
        [style.background-color]="puntaje.user==usuarioLogeado ? '#F9FF9F' : 'FFFFFF'"
        [style.font-weight]="puntaje.user==usuarioLogeado ? 'bold' : 'normal'">
            <td>
                {{puntaje.user}}</td>
            <td>{{puntaje.puntaje}}</td>
            <td>{{puntaje.fecha}}</td>
        </tr>
    </tbody>
</table>