@font-face {
    font-family: 'learners';
    src: url('../../../../assets/fonts/Learners.ttf') format('truetype')
}

.tabla-container {
    position: fixed;
    top: 15%;
    right: 0.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.btn-toggle-ranking{
    width: 100%;
}

.score-table {
    margin-top: 2em;
}

.score-table th,
.score-table td {
    padding: 10px;
    text-align: center;
    border: 2px solid #242424;
    font-size: large;
    font-family: 'learners';
}

.score-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.score-table tbody {
    background-color: #ffffff;
}

.score-table tbody tr:hover {
    background-color: #ddd;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}