<app-navbar></app-navbar>
<div class="container">
    <div class="d-flex flex-row justify-content-center mt-5">
        <div class="card" style="width: 18rem;">
            <img>
            <div class="card-body">
                <h5 class="card-title">Ahorcado</h5>
                <p class="card-text">Descripción del juego.
                    
                </p>
                <a routerLink="/juegos/" class="btn btn-primary">JUGAR</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img>
            <div class="card-body">
                <h5 class="card-title">Mayor o menor
                    <img class="juego-icono" src="../../../../assets/juegos/mayor-o-meno_icono.png">
                </h5>
                <p class="card-text">Se te dará una carta, intenta adivinar si la siguiente será mayor o menor!</p>
                <a routerLink="/juegos/mayor-o-menor" class="btn btn-primary juego-botonjugar">JUGAR</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Descripción del juego.</p>
                <a routerLink="/juegos/" class="btn btn-primary">JUGAR</a>
            </div>
        </div>
    </div>
</div>