<body id="background">
    <app-navbar></app-navbar>
    <div class="container d-flex align-items-center justify-content-center mt-5">
        <div class="container col-md-3">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Ahorcado
                        <img class="juego-icono" src="../../../../assets/juegos/ahorcado/iconos/ahorcado-icono.png">
                    </h5>
                    <p class="card-text">Se te dará una <b>palabra</b>, intenta adivinarla letra por letra... cuidado
                        con gastar tus intentos!
                    </p>
                    <button routerLink="/juegos/ahorcado" class="btn btn-primary juego-botonjugar">JUGAR</button>
                </div>
            </div>
        </div>
        <div class="container col-md-3">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Mayor o menor
                        <img class="juego-icono"
                            src="../../../../assets/juegos/mayor-o-menor/iconos/mayor-o-menor_icono.png">
                    </h5>
                    <p class="card-text">
                        Se te dará una <b>carta</b>, intenta adivinar si la siguiente será mayor o
                        menor!
                    </p>
                    <button routerLink="/juegos/mayor-o-menor" class="btn btn-primary juego-botonjugar">JUGAR</button>
                </div>
            </div>
        </div>
        <div class="container col-md-3">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Próximamente...</h5>
                    <p class="card-text"></p>
                    <button disabled routerLink="/juegos/" class="btn btn-primary juego-botonjugar">JUGAR</button>
                </div>
            </div>
        </div>
    </div>
    <img id="perro-pixel" src="../../../assets/home/perro-pixel.gif">
    <app-chat></app-chat>
</body>